.title {
  text-align: center;
  font-size: 36px;
}

.pagination {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.pagination__button {
  font-size: 20px;
  border: 1px solid black;
  padding: 0;
  cursor: pointer;
  width: 35px;
}

.pagination__button:hover {
  border: 1px solid black;
  transform: scale(1.02);
}

.pagination__left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pagination__right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pagination__button:disabled {
  border: none;
  border: 1px solid grey;
  pointer-events: none;
}

.pagination__number {
  width: 25px;
  text-align: center;
}
